name: open-musiclm
channels:
  - conda-forge
  - pytorch
  - defaults
dependencies:
  - python=3.10
  - pip=22.3.1
  - pip:
    - --find-links https://download.pytorch.org/whl/torch_stable.html
    - torch==2.0.0+cu117
    - torchvision==0.15.1+cu117
    - torchaudio==2.0.1+cu117
    - einops>=0.4
    - vector-quantize-pytorch>=0.10.15
    - librosa==0.10.0
    - torchlibrosa==0.1.0
    - ftfy
    - tqdm
    - transformers
    - encodec==0.1.1
    - gdown
    - accelerate>=0.17.0
    - beartype
    - joblib
    - h5py
    - scikit-learn
    - wget
